/* Устанавливаем фоновый цвет для body */
body {
    background: #e2e2e2 !important;  /* Светло-серый фон */
}


/* Класс для элементов с основным фоном */
.bg-primary {
    background: #005100 !important;   /* Зеленый цвет фона */
}


/* Стили для баннера */
.banner {
    width: 100%;   /* Ширина 100% */
    height: 93vh;   /* Высота 93% от высоты окна браузера */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/banner.jpg');  /* Градиент и изображение фона */
    background-size: cover;  /* Масштабирование фона для покрытия всей области */
    color: white;  /* Белый цвет текста */
}



/* Медиа-запрос для экранов с шириной меньше 1150px */
@media only screen and (max-width : 1150px) {
    .sidebar {
        display : none;   /* Скрываем сайдбар */
        width : 80% !important;   /* Ширина сайдбара 80% */
        background : white;    /* Белый цвет фона */
        height : 100vh;     /* Высота 100% окна браузера */
        position : fixed;    /* Фиксированное позиционирование */
        padding-top : 20px;   /* Внутренний отступ сверху 20px */
    }
    .content {
        margin-left: 0 !important;    /* Убираем отступ слева */
    }
}


/* Стили для сайдбара */
.sidebar {
    width: 20%; /* Ширина 20% */
    background: white; /* Белый цвет фона */
    height: 100%; /* Высота 100% */
    position: fixed; /* Фиксированное позиционирование */
    padding-top: 25px; /* Внутренний отступ сверху 25px */
    z-index: 999999; /* Высокий z-index для перекрытия других элементов */
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    display: block; /* Блочное отображение */
    width: 100%; /* Ширина 100% */
    padding: 10px 25px; /* Внутренние отступы */
    text-decoration: none; /* Убираем подчеркивание */
    color: grey; /* Серый цвет текста */
    font-weight: bold; /* Полужирный текст */
    font-size: 20px; /* Размер шрифта 20px */
}


/* Изменение цвета текста при наведении на ссылки в сайдбаре */
.sidebar a:hover {
    color: black;  /* Черный цвет текста */
}


/* Стили для разделителей в сайдбаре */
.sidebar .divider {
    height: 2px; /* Высота 2px */
    width: 100%; /* Ширина 100% */
    background: #e2e2e2; /* Светло-серый цвет фона */
    margin-top: 10px; /* Отступ сверху 10px */
}


/* Стили для кнопки закрытия сайдбара */
.sidebar .cross-btn{
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Привязка к верхнему краю */
    right: 35px; /* Отступ справа 35px */
    font-size: 36px; /* Размер шрифта 36px */
    cursor: pointer; /* Указатель курсора */
}


/* Стили для контента */
.content {
    margin-left: 23%;  /* Отступ слева 23% */
}


/* Стили для иконки гамбургера */
.content .hamburger{
    cursor: pointer; /* Указатель курсора */
}


/* Стили для имени */
.name_field {
    font-weight: bold; /* Полужирный текст */
    font-size: 18px; /* Размер шрифта 18px */
    margin-left: 5px; /* Отступ слева 5px */
}

/* Стили для email */
.email_field {
    font-weight: 500; /* Полужирный текст */
    font-size: 18px; /* Размер шрифта 18px */
    margin-left: 5px; /* Отступ слева 5px */
}


/* Стили для календаря */
#calendar {
    max-width: 900px; /* Максимальная ширина 900px */
    margin: 0 auto; /* Центрирование */
}



/* Стили для активных элементов */
.active {
    background: #009688 !important; /* Зеленый фон */
    color: white !important; /* Белый цвет текста */
}