<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <link href="/img/favicon.ico" rel="icon" type="image/png"/>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        #passwordError {
            color: red;
            font-size: 0.9em;
        }
        .alert-danger {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="reset-password-box" class="col-md-12">
                        <h2 class="text-center m-4">Reset Password</h2>

                        <!-- Block for displaying success or error message -->
                        <div th:if="${message != null}" class="alert" th:classappend="${message.type}">
                            <p th:text="${message.content}"></p>
                        </div>

                        <div id="passwordWarning" class="alert alert-danger" style="display: none;">
                            Password should be at least 8 characters long, contain one uppercase letter, one lowercase letter, one digit, and one special character.
                        </div>
                        <form th:action="@{/reset-password}" method="post" onsubmit="return validatePassword()">
                            <input type="hidden" name="email" th:value="${email}"/>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input required name="password" type="password" id="password"
                                       placeholder="Enter your new password here..." class="form-control"/>
                            </div>
                            <div id="passwordCriteria" class="text-muted">
                                Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, one digit, and one special character.
                            </div>
                            <div id="passwordError" class="text-danger mt-2"></div>
                            <div class="container text-center mt-4">
                                <button class="btn btn-lg btn-success">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function validatePassword() {
            const password = document.getElementById("password").value;
            const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$/;
            const errorMessage = document.getElementById("passwordError");
            const passwordWarning = document.getElementById("passwordWarning");

            if (!passwordPattern.test(password)) {
                errorMessage.innerText = "Password should be at least 8 characters long, contain one uppercase letter, one lowercase letter, one digit, and one special character.";
                passwordWarning.style.display = "block";
                return false;
            }

            errorMessage.innerText = "";
            passwordWarning.style.display = "none";
            return true;
        }
    </script>
</section>
</body>
</html>



