<!doctype html>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <link href="/img/favicon.ico" rel="icon" type="image/png"/>

    <title>Verify Secret Question</title>
</head>
<body>

<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 240px;" class="col-md-12">
                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                        <h2 class="text-center m-4"  style="font-size: 38px;">Answer Secret Question</h2>
                        <form th:action="@{/verify-secret-question}" method="post">
                            <input type="hidden" name="email" th:value="${email}"/>
                            <div class="form-group">
                                <label th:text="${secretQuestion}"></label>
                                <input required name="secretAnswer" type="text"
                                       placeholder="Enter your answer here..." class="form-control"/>
                            </div>
                            <div class="container text-center">
                                <button class="btn btn-lg" style="background-color: #ff5722; color: white; font-size: 25px; padding: 10px 20px;">Verify</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
